<h2 class= "title is-2"><%= @episode.title %></h2>

<div class="ml-5">
  <h4 class = "title is-4">Season: <%= @episode.season %> Episode: <%=@episode.episode_number%></h4>
  <p class="subtitle is-4 mr-6 mt-3 pr-6"><strong>Description:</strong> <br> <%= @episode.description %></p>
  <p class="subtitle is-4"><strong>Air Date: </strong><%= @episode.air_date%></p>
</div>
