<h3 class="title is-3 has-text"><%= link_to "Characters", characters_path %></h3>

<div class="grid">
  <% @characters.each do |character| %>
    <div class="cell">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by5">
            <img src="<%= character.image %>" alt="<%= character.name %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to character.name, character, :class =>"title is-4" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Episodes", episodes_path %></h3>

<div class="grid">
  <% @episodes.each do |episode| %>
    <div class="cell">
      <div class="card">
        <div class="card-content">
          <ul>
          <div class="media">
            <div class="media-content">
              <li class="title is-6">Season <%=episode.season%> Ep <%=episode.episode_number%> : <%= link_to episode.title, episode %></li>
            </div>
          </div>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Stores Next Door", stores_path %></h3>

<div class="grid">
  <% @stores.each do |store| %>
    <div class="cell is-gap-4">
      <div class="m-3 has-text-centered">
        <p class="title is-6"><%= store.store_name %></p>
        <img src="<%= store.image %>" alt="<%= store.store_name %>" height="100">
      </div>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Burgers of the Day ðŸ”", burgers_path %></h3>

<div class="columns">
  <div class="column">
    <ul class="ml-5">
      <% @burgers.each do |burger| %>
        <li class="title is-6 has-text-black"><%= burger.burger_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <%= image_tag "botd.jpg", alt: "Description of Image", width: "230", height: "230" %>
  </div>
</div>









