<div class="m-3 has-text-centered">
  <h1 class="title is-1">Bob's Burgers 🍔</h1>
</div>

<h3 class="title is-3"><%= link_to "Characters", characters_path %></h3>

<div class="grid">
  <% @characters.each do |character| %>
    <div class="cell">
      <div class="m-3 has-text-centered">
        <p class="title is-6"><%= link_to character.name, character, :class => "has-text-white" %></p>
        <img src="<%= character.image %>" alt="<%= character.name %>" height="100">
      </div>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Episodes", episodes_path %></h3>

<div class="grid">
  <% @episodes.each do |episode| %>
    <div class="cell">
      <li class="title is-6">Season <%=episode.season%> Ep <%=episode.episode_number%> - <%= link_to episode.title, episode %></li>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Stores Next Door", stores_path %></h3>

<div class="grid">
  <% @stores.each do |store| %>
    <div class="cell is-gap-4">
      <div class="m-3 has-text-centered">
        <p class="title is-6"><%= store.store_name %></p>
        <img src="<%= store.image %>" alt="<%= store.store_name %>" height="100">
      </div>
    </div>
  <% end %>
</div>

<h3 class="title is-3 mt-6"><%= link_to "Burgers of the Day 🍔", burgers_path %></h3>

<div class="columns">
  <div class="column">
    <ul class="ml-5">
      <% @burgers.each do |burger| %>
        <li class="title is-6 has-text-white"><%= burger.burger_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="column">
    <%= image_tag "botd.jpg", alt: "Description of Image", width: "230", height: "230" %>
  </div>
</div>









