<h2 class="title is-2">All Characters:</h2>

<%= form_tag characters_path, :method => "get" do%>
  <div class="field is-grouped m-5">
    <p class="control is-expanded">
      <%= text_field_tag :search, params[:search], :class => "input" %>
    </p>
    <p class="control">
      <%= submit_tag("Search", :name => nil, class: "button is-dark")%>
    </p>
  </div>
<% end %>

<div class="grid">
  <% @characters.each do |character| %>
    <div class="cell">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by5">
            <img src="<%= character.image %>" alt="<%= character.name %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to character.name, character, :class =>"title is-4" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<nav class="pagination is-centered" aria-label="pagination">
  <%= paginate @characters %>
</nav>