<h3 class="title is-3 m-3"><%= @character.name %></h2>

<div class="columns">
  <div class="column m-5">
    <% if @character.age.present? %>
      <p class="subtitle is-4">Age: <%= @character.age %></p>
    <% end %>
    <p class="subtitle is-4">Gender: <%= @character.gender %></p>

    <% if @character.occupation.present? %>
      <p class="subtitle is-4">Occupation: <%= @character.occupation %></p>
    <% else %>
      <p class="subtitle is-4">Occupation: Unknown</p>
    <% end %>

    <% if @character.actor.present? %>
      <p class="subtitle is-4">Voice Actor: <%= link_to @character.actor.actor_name, @character.actor%></p>
    <% end %>

    <% @character.episodes.each do |episode| %>
      <p class="subtitle is-4">First featured episode: <%= link_to episode.title, episode %></p>
    <% end %>


  </div>
  <div class="column">
    <img src=<%= @character.image %> alt="<% @character.name %>" width="200" height="200">
  </div>
</div>
