<h2><%= @character.name %></h2>

<% if @character.age.present? %>
  <p>Age: <%= @character.age %></p>
<% end %>
<p>Gender: <%= @character.gender %></p>
<p>Occupation: <%= @character.occupation %></p>
<img src=<%= @character.image %> alt="">

