<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Home", root_path %></a></li>
    <li><%= link_to "Characters", characters_path %></a></li>
    <li><%= link_to "Episodes", episodes_path %></a></li>
    <li><%= link_to "Store Next Door", stores_path %></a></li>
    <li><%= link_to "Burger of the Day", burgers_path %></a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>