<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Home", root_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Characters", characters_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Episodes", episodes_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Store Next Door", stores_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Burger of the Day", burgers_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "Voice Actors", actors_path, :class => "has-text-black subtitle is-5" %></li>
    <li><%= link_to "About", actors_path, :class => "has-text-black subtitle is-5" %></li>
  </ul>
</nav>